#browse-by-collection {
  line-height: 1.75;
}

.collection-cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.collection-cards .collection {
  width: 100%;
}

.collection-cards .collection p {
  margin: 1rem 0;
}

.collection-cards a {
  text-decoration: none;
}

.collection-cards img {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 5 / 6;
  object-fit: cover;

  @media (max-width: 768px) {
    aspect-ratio: 3 / 2;
  }
}

.collection-cards img:hover {
  opacity: 0.8;
}

.collection-name-title {
  text-align: left;
  margin-left: 1rem;
  font-size: var(--body-font-size-m);
  color: black;
  pointer-events: none;
}

.collection-name-description {
  text-align: left;
  font-size: var(--body-font-size-s);
  pointer-events: none;
  color: gray;
  font-weight: 400;
}